.header_app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 0 0 0;
}

.h1_header_title {
    animation: headerAppearDesktop 2s;
}

.h2_header{
    padding: 5%;
}

.div_user_button{
    padding: 1%;
    margin: 1% 0 0 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    justify-content: center;
}

.div_pics{
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    margin: 5%;
}

.p_select_company{
    font-size: 15pt;
    font-weight: 600;
    padding: 1%;
    width: 100vw;
}

.img_logo{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
}

.img_logo_selected{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    outline: 2pt solid var(--color-brand-1);
}

.button_menu {
    background-color: var(--color-brand-1);
    color: white;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    padding: 5%;
    margin: 2%;
}

@media (min-width: 768px) {

    .header_app{
        width: 40%;
        margin: 0 0 0 0;
        justify-content: center;
    }
  
  }


@keyframes headerAppearDesktop {
    0% {
        margin: 0 0 0 -80vw;
    }

    100%{
        margin: 0 0 0 0vw;
    }
}