.div_modal{
    width: 85vw;
    height: 30vh;
    position: fixed;
    z-index: 0;
    background-color: white;
    box-shadow: 0.1pt 0.1pt 3pt grey;
    top: 2vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 7px;
    gap: 2vh;
    animation: modalAppear 1s;
}

.img_checked{
    width: 7vw;
}

.h2_modal_title{
    font-size: 13pt;
    color: rgb(0, 90, 0);
}

.h2_modal_title_error{
    font-size: 13pt;
    color: rgb(231, 73, 73);
}

.p_description{
    font-size: 10pt;
}

.div_modal_background{
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_modal_content{
    width: 90vw;
    height: 80vh;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: modalAppear 1s;
}

.div_modal_content_read{
    width: 90vw;
    height: 80vh;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4vh;
    animation: modalAppear 1s;
}

.h2_modal_title_add_new_post{
    font-size: 15pt;
}

.div_title_and_close{
    display: flex;
    justify-content: space-between;
}

.div_content_and_buttons{
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.label_input_post_title, .label_input_post_text{
    font-size: 15pt;
    font-weight: 600;
}

.input_post_title {
    height: 7vh;
    border-radius: 8px;
    border: none;
    background-color: #e3e3e3;
    padding: 4px;
}

.input_post_text {
    height: 20vh;
    border-radius: 8px;
    border: none;
    background-color: #e3e3e3;
    padding: 4px;
}

.input_post_title:focus, .input_post_text:focus {
    outline: 2pt solid blue;
}

.div_cancel_and_publish {
    align-self: flex-end;
    display: flex;
    gap: 2vw;
}

.div_edit_and_exclude {
    width: 15vw;
}

.div_user_and_date {
    font-weight: 500;
}
.div_user_and_date_read {
    display: flex;
    gap: 5vw;
}

.div_modal_content_exclude {
    width: 90vw;
    height: 40vh;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    animation: modalAppear 1s;
}

.button_confirm_exclude {
    color: white;
    background-color: #ff3d3d;
    border: none;
    padding: 0 2vw 0 2vw;
    border-radius: 8px;
    transition: 0.3s;
}

.button_close_modal_add_post{
    height: 7vh;
    border-radius: 8px;
    border: 2pt solid rgb(244, 244, 255);
    background-color: #dfdffd;
    color: gray;
    font-weight: 600;
    width: 10vw;
    transition: 0.3s;
}

.button_confirm_exclude:hover, .button_close_modal_add_post:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.p_loading {
    font-size: 25pt;
    color: blue;
    text-shadow: 2pt 2pt 5pt white;
    animation: loadingSpin 3s;
}


@keyframes modalAppear {
    
    0% {
        margin-top: -380px;
        display: flex;
    }

    100% {
        margin-top: 0px;
        display: flex;
    }


}

@keyframes modalAppearFromBottom {
    
    0% {
        margin: 230px 0 0 0;
    }

    100% {
        margin: 0 0 0 0;
    }


}

@keyframes loadingSpin {
    
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(2025deg);
    }


}

@media (min-width: 768px) {

    .div_modal{
        width: 32vw;
        top: 66vh;
        left: 66vw;
        animation: modalAppearFromBottom 1s;
        gap: 0;
    }

    .div_modal_content{
        width: 50vw;
    }

    .div_modal_content_read{
        width: 55vw;
    }

    .div_modal_content_exclude {
        width: 50vw;
    }

    .button_close_modal_add_post{
        width: 3vw;
    }

    .div_user_and_date{
        gap: 1vw;
    }

    .div_user_button {
        margin-right: 8vw;
    }

}